
div.nav{
    width: 100%;
    padding: 0;
    overflow: visible;
    background-color: inherit;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #c2956e;
}

div.nav-item{
    margin: 20px;
    margin-left: 0;
    float: left;
    vertical-align: middle;
}

.right{
    font-family: 'Satisfy', cursive;
    position: absolute;
    right: 0;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: 50px;
}

div.nav-item:first-child{
    margin: 20px;
    padding-left: 100px;
    position: relative;

}

div.nav-item a{
    color: #2b2129;
}

div.nav-item a:hover{
    color: #c2956e;
    text-decoration: none;
}


div a.nav{
    display: block;
    color: #2b2129;
    text-align: center;
    text-decoration: none;
}

div a.nav:hover{
    color: #c2956e;
    background-color: inherit;
}

h1{
    margin-top: 20px;
    margin-bottom: 20px;
}

body{
    background-color: #fdf6ee;
    color: #2b2129;
}

.carousel{
    margin-bottom: 100px;
}

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

.carousel-caption{
    padding-bottom: 300px;
}

.carousel-item img{
    width: 100%;
    filter: brightness(50%);
}

.clanek img, .card img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.clanek h1{
    font-weight: bold;
}
.bold{
    font-weight: bold;
}

.button{
    border-radius: 5px;
    border: 1px solid #fdf6ee;
    color: #fdf6ee;
    text-decoration: none;
    width: auto;
    padding: 10px 15px;
    background-color: transparent;
}


.button:hover{
    color: #2b2129;
    text-decoration: none;
    background-color: #fdf6ee;
}

div.card .button{
    border: 1px solid #2b2129;
    color: #2b2129;
}
div.card .button:hover{
    color: #c2956e;
}

main{
    margin-bottom: 50px;
}

footer{
    background-color: #2b2129;
    color: #fdf6ee;
    margin-top: 20px;
}

.sub, .links, .contacts{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 10px;
}

.links a{
    color: #fdf6ee;
    font-size: 5em;
    padding-right: 20px;
}

.links a:hover{
    color: #c2956e;
}

.card{
    margin-bottom: 100px;
    background-color: inherit;
    border: none;
}

div.card:first-child{
    margin-top: 520px;
}

@media only screen and (max-width: 768px){
    div.nav-item:first-child{
        margin: 20px;
        padding-left: 0;
    }
    div.nav-item {
        margin-right: 10px;
        margin-left: 0;
    }
    .sub, .links, .contacts{
        width: 100%;
    }
    .carousel-caption{
        padding-bottom: 25px;
    }


}

















