div.nav{
    width: 100%;
    padding: 0;
    overflow: visible;
    background-color: #6C757D;
    position: sticky;
    top: 0;
    z-index: 10;
}

div.nav-item{
    margin: 10px 0 10px 0;
    float: left;
}

div.nav-item:first-child{
    margin: 20px;
    padding-left: 100px;
    top: -4px;
    position: relative;

}


div a.nav{
    display: block;
    color: #e9eaec;
    text-align: center;
    text-decoration: none;
}

div a.nav:hover, .btn:hover{
    color: #fff;
    background-color: inherit;
}
body{
    background-color: #fdf6ee;
}

section{
    width: 600px;
    float: left;
    padding: 10px;
}

aside{
    width: 300px;
    float: right;
    padding: 10px;
    border-left: 1px solid gray;
}